<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <small >
   Clock+ Build by Yi Yang - s3798354@student.rmit.edu.au - attenpt grade level - Friday 6:30pm Group 5</h4>
  </small>
  <br>
  <td >
    <a href="https://www.facebook.com/" class="fa fa-facebook-square" aria-hidden="true"></a>
    <a href="https://twitter.com/explore" class="fa fa-twitter" aria-hidden="true"></a>
    <a href="https://au.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a>
  </td>
</footer>